<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCigkS8N331pmWY_j8KfF6nQU7YrWxZpjA</string>
	<key>GCM_SENDER_ID</key>
	<string>696603128386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.up.contributer</string>
	<key>PROJECT_ID</key>
	<string>contri-butor</string>
	<key>STORAGE_BUCKET</key>
	<string>contri-butor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696603128386:ios:3c85b94f6d0b11c6c1b3db</string>
</dict>
</plist>